<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta datos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pagina escolar del Instituto Luminova">
    <meta name="keywords" content="escuela, instituto, inicial, primaria, secundario">
    <meta name="author" content="Agustina Velazquez, Andreina Romero, Eleonora Roux, Vilma Ponce">
    <title>Formulario de Inscripción | Instituto Luminova</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/formulario.css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="../index.html" class="nav-link"><img src="../static/img/navFondo.png" alt=""></a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="../index.html" class="nav-menu-link nav-link">Inicio</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#institucional" class="nav-menu-link nav-link">Niveles</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#actividades" class="nav-menu-link nav-link">Actividades</a>
                </li>
                <li class="nav-menu-item">
                    <a href="./contact.html" class="nav-menu-link nav-link">Contacto</a>
                </li>
        </nav>
    </header>
    <main>
        <h2>Formulario de Inscripción</h2>
        <section id="formulario-container">
            <form id="registroForm">
                <label for="nombre">Nombre/s :</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre"><br>
                <label for="nombre">Apellido/s :</label>
                <input type="text" id="nombre" name="nombre" placeholder="Apellido"><br>

                <label for="direccion">Dirección:</label>
                <input type="text" id="calle" name="calle" placeholder="Calle" required>
                <input type="text" id="numero" name="numero" placeholder="Número" required>
                <input type="text" id="ciudad" name="ciudad" placeholder="Ciudad" required>
                <input type="text" id="codigo_postal" name="codigo_postal" placeholder="Código Postal" required><br>

                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" placeholder="Ej 11123456789" required><br>

                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br>

                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required><br>

                <!-- Género -->
                <div class="genero-container">
                    <label for="genero">Género:</label>
                    <input type="radio" id="hombre" name="genero" value="hombre" required>
                    <label for="hombre">Hombre</label>
                    <input type="radio" id="mujer" name="genero" value="mujer" required>
                    <label for="mujer">Mujer</label>
                    <input type="radio" id="otro" name="genero" value="otro" required>
                    <label for="otro">Otro</label>
                </div>

                <div class="conocimientos-container">
                    <label for="sector"><span>Actividades a elegir:</span></label>

                    <div id="deportes" class="actividades">
                        DEPORTES:
                        <input type="checkbox" id="natacion" name="natacion" value="Natación">
                        <label for="natacion">Natación</label>
                        <input type="checkbox" id="basket" name="basket" value="Basket">
                        <label for="basket">Basket</label>
                        <input type="checkbox" id="futbol" name="futbol" value="Futbol">
                        <label for="futbol">Futbol</label>
                        <input type="checkbox" id="atletismo" name="atletismo" value="Atletismo">
                        <label for="atletismo">Atletismo</label>
                    </div>

                    <div id="arte" class="actividades">
                        ARTE
                        <input type="checkbox" id="teatro" name="teatro" value="Teatro">
                        <label for="teatro">Teatro</label>
                        <input type="checkbox" id="musica" name="musica" value="Música">
                        <label for="musica">Música</label>
                        <input type="checkbox" id="pintura_dibujo" name="pintura_dibujo" value="Pintura y dibujo">
                        <label for="pintura_dibujo">Pintura y dibujo</label>
                    </div>

                    <div id="academico" class="actividades">
                        ACADEMICO
                        <input type="checkbox" id="ciencias" name="ciencias" value="Club de ciencias">
                        <label for="ciencias">Club de ciencias</label>
                        <input type="checkbox" id="lectura" name="lectura" value="Club de lectura">
                        <label for="lectura">Club de lectura</label>
                        <input type="checkbox" id="debate" name="debate" value="Club de debate">
                        <label for="debate">Club de debate</label>
                    </div>

                    <div id="comunitario" class="actividades">
                        VOLUNTARIADO
                        <input type="checkbox" id="hospitales" name="hospitales" value="Voluntariado en hospitales">
                        <label for="hospitales">Voluntariado en hospitales</label>
                        <input type="checkbox" id="refugios_animales" name="refugios_animales"
                            value="Voluntariado en refugios de animales">
                        <label for="refugios_animales">Voluntariado refugios de animales</label>

                    </div>
                    <div id="idiomas" class="actividades">
                        IDIOMAS
                        <input type="checkbox" id="ingles" name="ingles" value="Club de ingles">
                        <label for="ingles">Inglés</label>
                        <input type="checkbox" id="frances" name="frances" value="Club de Frances">
                        <label for="frances">Francés</label>
                        <input type="checkbox" id="aleman" name="aleman" value="Club de Aleman">
                        <label for="aleman">Alemán</label>
                    </div>
                    <div id="huerta" class="actividades">
                        HUERTA
                        <input type="checkbox" id="huerta" name="huerta" value="Huerta organica">
                        <label for="huerta">Huerta</label>
                    </div>


                </div>

                <label for="estudios">Niveles:</label>
                <select id="estudios" name="estudios">

                    <option value="inicial">Inicial</option>
                    <option value="primaria">Primaria</option>
                    <option value="secundaria">Secundaria</option>

                </select>

                <label for="comentarios">Comentarios:</label><br>
                <textarea id="comentarios" name="comentarios" rows="4" cols="50"></textarea>

                <button type="submit" class="boton" onclick="enviarFormulario()">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <section id="footer-content" class="footer-pages">
            <!-- Contacto -->
            <article class="footer-container">
                <div class="footer-info">
                    <!-- Logo -->
                    <div class="logo-link">
                        <a href="../index.html">
                            <img src="../static/img/navFondo.png" alt="Logo sin fondo">
                        </a>
                    </div>
                    <!-- Dirección -->
                    <div class="address-info">
                        <a href="./contact.html">
                            <i class="fa-solid fa-phone-volume"></i>
                            <div class="address-info-p">
                                <p>Calle Falsa 123</p>
                                <p>Buenos Aires, Argentina</p>
                                <p>Tel: 1234-5678</p>
                                <p>escuela@correo.com</p>
                            </div>
                        </a>
                    </div>
                    <!-- Horario de Atención -->
                    <div class="attention-info">
                        <i class="fa-solid fa-clock"></i>
                        <div>
                            <h5>Horario de Administración</h5>
                            <p>De Lunes a Viernes de 7:30 a 19:00 hs</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Derechos -->
            <article class="copy-footer">
                <p>© 2023 Todos los derechos reservados Grupo 14-Comision 24123</p>
            </article>
        </section>
    </footer>
    <script src="../static/js/main.js"></script>
</body>

</html>