<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta datos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pagina escolar del Instituto Luminova">
    <meta name="keywords" content="escuela, instituto, inicial, primaria, secundario">
    <meta name="author" content="Agustina Velazquez, Andreina Romero, Eleonora Roux, Vilma Ponce">
    <title>Idiomas | Instituto Luminova</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/extracurriculares.css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="../index.html" class="nav-link"><img src="../static/img/navFondo.png" alt=""></a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="../index.html" class="nav-menu-link nav-link">Inicio</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#institucional" class="nav-menu-link nav-link">Niveles</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#actividades" class="nav-menu-link nav-link">Actividades</a>
                </li>
                <li class="nav-menu-item">
                    <a href="./contact.html" class="nav-menu-link nav-link">Contacto</a>
                </li>
        </nav>
    </header>
    <main>
        <section class="idiomas-content">
            <h2><span>IDIOMAS</span><i class="fa-solid fa-earth-americas icono-animado"></i></h2>
            <div class="contenedor-translucido">
                <div class="card">
                    <img src="../static/img/english.png" alt="english">
                    <h3>Inglés</h3>
                    <div class="card-content">
                        <p>Clases de inglés enfocadas en conversación, gramática y comprensión auditiva.</p>
                        <p><span>Días y Horarios:</span> Días y Horarios: Martes y Jueves - 18:00hs a 19:30hs.</p>
                        <p><span>Beneficios:</span></p>
                        <ul>
                            <li>Desarrollo de habilidades lingüísticas en inglés.</li>
                            <li>Preparación para exámenes internacionales como el TOEFL o el IELTS.</li>
                            <li>Mejora de la comunicación oral y escrita en inglés.</li>
                            <li>Oportunidades para interactuar con hablantes nativos de inglés.</li>
                            <li>Ambiente de aprendizaje dinámico y colaborativo.</li>
                        </ul>
                        <p><span>Cómo Unirse:</span></p>
                        <ul>
                            <li>Inscripciones abiertas para nuevos estudiantes.</li>
                            <li>No se requiere experiencia previa en inglés.</li>
                            <li>Compromiso y motivación para aprender el idioma.</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/img/francais.png" alt="francais">
                    <h3>Francés</h3>
                    <div class="card-content">
                        <p>Clases de francés centradas en la práctica oral, la gramática y la comprensión de lectura.</p>
                        <p><span>Días y Horarios:</span> Martes y Jueves - 18:00hs a 19:30hs.</p>
                        <p><span>Beneficios:</span></p>
                        <ul>
                            <li>Desarrollo de habilidades lingüísticas en francés.</li>
                            <li>Preparación para exámenes de certificación como el DELF o el DALF.</li>
                            <li>Inmersión en la cultura y la historia francesas.</li>
                            <li>Mejora de la comunicación y la expresión escrita en francés.</li>
                            <li>Conexión con la comunidad francófona local e internacional.</li>
                        </ul>
                        <p><span>Cómo Unirse:</span></p>
                        <ul>
                            <li>Plazas disponibles para estudiantes de todos los niveles.</li>
                            <li>Se recomienda un nivel básico de conocimientos de francés para participar.</li>
                            <li>Compromiso con la asistencia regular y la participación activa en clase.</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/img/germany.png" alt="germany">
                    <h3>Alemán</h3>
                    <div class="card-content">
                        <p>Clases de alemán orientadas a la comunicación práctica, la gramática y el vocabulario.</p>
                        <p><span>Días y Horarios:</span> Lunes y Jueves - 16:00hs a 17:30hs.</p>
                        <p><span>Beneficios:</span></p>
                        <ul>
                            <li>Adquisición de habilidades lingüísticas en alemán.</li>
                            <li>Preparación para exámenes reconocidos internacionalmente como el TestDAF o el Goethe-Zertifikat.</li>
                            <li>Desarrollo de la capacidad de comprensión auditiva y lectora en alemán.</li>
                            <li>Inmersión en la vida cotidiana y profesional de habla alemana.</li>
                            <li>Fomento del pensamiento crítico y la creatividad a través del aprendizaje de un nuevo idioma.</li>
                        </ul>
                        <p><span>Cómo Unirse:</span></p>
                        <ul>
                            <li>Inscripciones abiertas para nuevos estudiantes, desde principiantes hasta avanzados.</li>
                            <li>No se requiere experiencia previa en alemán, pero se valorará el interés por la cultura alemana.</li>
                            <li>Compromiso con la práctica regular y la participación activa en las actividades del curso.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Botón para ir al formulario -->
            <a href="./formulario.html" class="boton">Ir al formulario de inscripción</a>
        </section>
    </main>
    <footer>
        <section id="footer-content" class="footer-pages">
            <!-- Contacto -->
            <article class="footer-container">
                <div class="footer-info">
                    <!-- Logo -->
                    <div class="logo-link">
                        <a href="../index.html">
                            <img src="../static/img/navFondo.png" alt="Logo sin fondo">
                        </a>
                    </div>
                    <!-- Dirección -->
                    <div class="address-info">
                        <a href="./contact.html">
                            <i class="fa-solid fa-phone-volume"></i>
                            <div class="address-info-p">
                                <p>Calle Falsa 123</p>
                                <p>Buenos Aires, Argentina</p>
                                <p>Tel: 1234-5678</p>
                                <p>escuela@correo.com</p>
                            </div>
                        </a>
                    </div>
                    <!-- Horario de Atención -->
                    <div class="attention-info">
                        <i class="fa-solid fa-clock"></i>
                        <div>
                            <h5>Horario de Administración</h5>
                            <p>De Lunes a Viernes de 7:30 a 19:00 hs</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Derechos -->
            <article class="copy-footer">
                <p>© 2024 Todos los derechos reservados Grupo 14-Comision 24123</p>
            </article>
        </section>
    </footer>
    <script src="../static/js/main.js"></script>
</body>
</html>