<!--Creación del Index
con diferentes accesos y opciones-->


<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta datos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pagina escolar del Instituto Luminova">
    <meta name="keywords" content="escuela, instituto, inicial, primaria, secundario">
    <meta name="author" content="Agustina Velazquez, Andreina Romero, Eleonora Roux, Vilma Ponce">
    <title>Noticias | Instituto Luminova</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/noticias.css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="../index.html" class="nav-link"><img src="../static/img/navFondo.png" alt=""></a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="../index.html" class="nav-menu-link nav-link">Inicio</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#institucional" class="nav-menu-link nav-link">Niveles</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#actividades" class="nav-menu-link nav-link">Actividades</a>
                </li>
                <li class="nav-menu-item">
                    <a href="./contact.html" class="nav-menu-link nav-link">Contacto</a>
                </li>
        </nav>
    </header>
    <main>
        <video src="../static/video/noticiasvideo.mp4" autoplay muted loop></video>
        <section class="content encabezado">
            <h2 class="title"> Noticias Instituto Luminova </h2>
            <h3 class="subtitle">Acá encontrarás las noticias más relevantes
                de Nuestro Instituto</h3>
        </section>
        <section class="content sau">
            <h2 class="title1"> EN ABRIL</h2>
            <article class="box-container">
                <div class="box">
                    <img src="../static/img/malvinas-1.jpg" alt="Imagen de Islas Malvinas">
                    <h3>Héroes de Malvinas</h3>
                    <p> 2 de abril: Día Nacional del Veterano y de los Caídos en la Guerra de Las Malvinas</p>
                </div>
                <div class="box">
                    <img src="../static/img/Diadelatierra.jpg" alt="Dia de la Tierra">
                    <h3>Día Mundial de la Tierra</h3>
                    <p> 22 de Abril: fecha para rendir homenaje al planeta Tierra.</p>
                </div>
                <div class="box">
                    <img src="../static/img/autismo2.jpg" alt="Dia del Autismo">
                    <h3>Concienciación sobre el Autismo</h3>
                    <p> Para entender el Autismo, sólo se necesita AMOR</p>
                </div>
            </article>
        </section>
        <section class="noticiasInfo">
            <h2 class="title1">Noticias e Información</h2>
            <div class="espacios">
                <div class="espacio">
                    <details>
                        <summary>Olimpiadas de Ciencias Colombia 2024</summary>
                        <div class="espacio-content">
                            <div>
                                <h2>“Tener jóvenes que abracen la ciencia es la base para un país mejor”</h2>
                                <p>El vicerrector de la MINCIENCIAS, Fernando Lucena, y el secretario académico, Gabriel Padrón,
                                    recibieron a Micaela Martinez, Jhoanna Romero, Martin Linares, Andy Rivera, Adele García y
                                    Valentino Espinoza, los seis estudiantes del 10mo año Insituto Luminova que representarán a
                                    Argentina en la Olimpíada Internacional de Ciencias Junior,
                                    que se desarrollará del 02 al 12 de diciembre en Colombia.
                                </p>
                            </div>
                            <img src="../static/img/ciencias.jpg" alt="Imagen de ejemplo">
                        </div>
                    </details>
                </div>
                <div class="espacio">
                    <details>
                        <summary>Juegos Deportivos Escolares 2024</summary>
                        <div class="espacio-content">
                            <div>
                                <h2> ¡El Instituto Luminova conquistó la cima en los Juegos Deportivos Escolares 2023!</h2>
                                <p>
                                    Con 46 medallas de oro logró el título general de estas justas departamentales Los
                                    campeones,
                                    por disciplinas deportivas fueron: baloncesto masculino, béisbol masculino, gimnasia,
                                    fútbol de salón masculino, fútbol sala femenino, natación y tenis de campo,
                                    Apartadó en atletismo, fútbol femenino, fútbol masculino y judo.
                                </p>
                            </div>
                            <img src="../static/img/deportistas.jpg" alt="Imagen de ejemplo">
                        </div>
                    </details>
                </div>
                <div class="espacio">
                    <details>
                        <summary>Robotica Escolar, un Nuevo Aprendizaje</summary>
                        <div class="espacio-content">
                            <div>
                                <h2>La Robotica llegó a Luminova!</h2>
                                <p>El equipo de robótica MechRams 9301 de PrepaTec del campus de la Universidad de Buenos Aires
                                    ha puesto en marcha un proyecto de
                                    voluntariado que lleva la robótica a niños de la primaria del Insituto Luminova con el
                                    objetivo de mejorar su aprendizaje.
                                    El proyecto consistirá en ocho sábados de capacitación y continuidad académica dirigidos a
                                    brindar apoyo en las áreas de robótica y
                                    matemáticas a los alumnos de 1ero a 6to grado del colegio.
                                </p>
                            </div>
                            <img src="../static/img/robotica.jpg" alt="Imagen de ejemplo">
                        </div>
                    </details>
                </div>
                <div class="espacio">
                    <details>
                        <summary>1era Reunión de Padres 2024 </summary>
                        <div class="espacio-content">
                            <div>
                                <h2>Nuestra primera Reunión de Padres</h2>
                                <p> Se realizará el día 26 de Abril en el área de la Biblioteca, los padres deberan asistir
                                    en el horario correspondiente a la clase de Gimnasia de cada grado. En caso de no poder
                                    asistir
                                    deberá notificar con anticipación. Hablaremos de los egresados 2024, y aclararemos cualquier
                                    duda
                                    referente a los alumnos, actividades y compromisos tanto escolares como de los docentes y
                                    directivos.
                                    ¡Los Esperamos!
                                </p>
                            </div>
                            <img src="../static/img/Reunión.jpg" alt="Imagen de ejemplo">
                        </div>
                    </details>
                </div>
            </div>
        </section>
        <section class="content about">
            <article class="box-container2">
                <div class="box">
                    <img src="../static/img/directora.jpg" alt="">
                    <h3>Directora</h3>
                    <p>Maria Paredes</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="box">
                    <img src="../static/img/subdirector.jpg" alt="">
                    <h3>Subdirector</h3>
                    <p>Gonzalo Barassi</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>

                <div class="box">
                    <img src="../static/img/coordinadora educativa.jpg" alt="">
                    <h3>Coordinadora Educativa</h3>
                    <p>De Los Angeles Reyes</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section id="footer-content" class="footer-pages">
            <!-- Contacto -->
            <article class="footer-container">
                <div class="footer-info">
                    <!-- Logo -->
                    <div class="logo-link">
                        <a href="../index.html">
                            <img src="../static/img/navFondo.png" alt="Logo sin fondo">
                        </a>
                    </div>
                    <!-- Dirección -->
                    <div class="address-info">
                        <a href="./contact.html">
                            <i class="fa-solid fa-phone-volume"></i>
                            <div class="address-info-p">
                                <p>Calle Falsa 123</p>
                                <p>Buenos Aires, Argentina</p>
                                <p>Tel: 1234-5678</p>
                                <p>escuela@correo.com</p>
                            </div>
                        </a>
                    </div>
                    <!-- Horario de Atención -->
                    <div class="attention-info">
                        <i class="fa-solid fa-clock"></i>
                        <div>
                            <h5>Horario de Administración</h5>
                            <p>De Lunes a Viernes de 7:30 a 19:00 hs</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Derechos -->
            <article class="copy-footer">
                <p>© 2023 Todos los derechos reservados Grupo 14-Comision 24123</p>
            </article>
        </section>
    </footer>
    <script src="../static/js/main.js"></script>
</body>

</html>