<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta datos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pagina escolar del Instituto Luminova">
    <meta name="keywords" content="escuela, instituto, inicial, primaria, secundario">
    <meta name="author" content="Agustina Velazquez, Andreina Romero, Eleonora Roux, Vilma Ponce">
    <title>Nivel Primario | Instituto Luminova</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/niveles-educativos.css">
    <!-- zona de fuentes e iconos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="../index.html" class="nav-link"><img src="../static/img/navFondo.png" alt=""></a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="../index.html" class="nav-menu-link nav-link">Inicio</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#institucional" class="nav-menu-link nav-link">Niveles</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#actividades" class="nav-menu-link nav-link">Actividades</a>
                </li>
                <li class="nav-menu-item">
                    <a href="./contact.html" class="nav-menu-link nav-link">Contacto</a>
                </li>
        </nav>
    </header>
    <main>
        <!-- Banner con imagen del nivel y pequeña descripción -->
        <section class="levels-banner levels-banner-primary">
            <article class="banner-information primary-banner-information">
                <h1>Nivel Primario</h1>
                <p>Aspiramos a una enseñanza de calidad, personalizada y activa, de equipo, que enseñe a aprender, a
                    consultar, a adaptarse a la futura cultura y al uso de la tecnología.</p>
            </article>
        </section>
        <!-- Misión -->
        <section class="levels-content">
            <article class="level-container">
                <img src="../static/img/primaria2.jpg" alt="Nivel Primario">
                <div class="initial-proposals">
                    <h3>Lograr una enseñanza de calidad, personalizada y activa, pensada en equipo, que enseñe a
                        aprender, a consultar, a integrarse a la cultura e interactuar en ella.</h3>
                    <p>Ser una institución que invita, sugiere, acompaña, interpela, desequilibra, construye
                        herramientas para desenvolverse cotidianamente.</p>
                    <p>Fomentar un pensamiento divergente en cada uno de los alumnos.</p>
                    <p>Acompañar en este trayecto a los niños y jóvenes de una manera respetuosa, desde la capacitación,
                        profesionalización y actualización permanente.</p>
                </div>
            </article>
        </section>
        <!-- Imágenes alusivas al nivel -->
        <section class="level-carousel">
            <img src="../static/img/primaria5.jpg" alt="Nivel Primario">
            <img src="../static/img/primaria6.jpg" alt="Nivel Primario">
            <img src="../static/img/primaria3.jpg" alt="Nivel Primario">
            <img src="../static/img/primaria4.jpg" alt="Nivel Primario">
        </section>
        <!-- más info de la Misión -->
        <section class="levels-content second">
            <article class="level-container">
                <div class="initial-proposals">
                    <h3>Posicionarnos como adultos, desde un accionar responsable y respetuoso, en la construcción de
                        una verdadera autoridad. Sin acciones autoritarias, desde la coherencia entre la palabra y la
                        acción.</h3>
                    <p>Formar jóvenes y adolescentes ciudadanos activos en el mundo, curiosos, atentos, libres, por lo
                        que creemos fundamental introducirlos en lenguas extranjeras para manejarse en el mundo con
                        mayor probabilidad de éxito.</p>
                    <p>Admirar, valorar el arte como herramienta que alimenta los aspectos más elevados del ser humano.
                    </p>
                </div>
                <img src="../static/img/primaria7.jpg" alt="Nivel Primario">
            </article>
        </section>
    </main>
    <footer>
        <section id="footer-content" class="footer-pages">
            <!-- Contacto -->
            <article class="footer-container">
                <div class="footer-info">
                    <!-- Logo -->
                    <div class="logo-link">
                        <a href="../index.html">
                            <img src="../static/img/navFondo.png" alt="Logo sin fondo">
                        </a>
                    </div>
                    <!-- Dirección -->
                    <div class="address-info">
                        <a href="./contact.html">
                            <i class="fa-solid fa-phone-volume"></i>
                            <div class="address-info-p">
                                <p>Calle Falsa 123</p>
                                <p>Buenos Aires, Argentina</p>
                                <p>Tel: 1234-5678</p>
                                <p>escuela@correo.com</p>
                            </div>
                        </a>
                    </div>
                    <!-- Horario de Atención -->
                    <div class="attention-info">
                        <i class="fa-solid fa-clock"></i>
                        <div>
                            <h5>Horario de Administración</h5>
                            <p>De Lunes a Viernes de 7:30 a 19:00 hs</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Derechos -->
            <article class="copy-footer">
                <p>© 2023 Todos los derechos reservados Grupo 14-Comision 24123</p>
            </article>
        </section>
    </footer>
    <script src="../static/js/main.js"></script>
</body>

</html>