<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta datos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pagina escolar del Instituto Luminova">
    <meta name="keywords" content="escuela, instituto, inicial, primaria, secundario">
    <meta name="author" content="Agustina Velazquez, Andreina Romero, Eleonora Roux, Vilma Ponce">
    <title>Nivel Secundario | Instituto Luminova</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/niveles-educativos.css">
    <!-- zona de fuentes e iconos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="../index.html" class="nav-link"><img src="../static/img/navFondo.png" alt=""></a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="../index.html" class="nav-menu-link nav-link">Inicio</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#institucional" class="nav-menu-link nav-link">Niveles</a>
                </li>
                <li class="nav-menu-item">
                    <a href="../index.html#actividades" class="nav-menu-link nav-link">Actividades</a>
                </li>
                <li class="nav-menu-item">
                    <a href="./contact.html" class="nav-menu-link nav-link">Contacto</a>
                </li>
        </nav>
    </header>
    <main>
        <!-- Banner con imagen del nivel y pequeña descripción -->
        <section class="levels-banner levels-banner-secondary ">
            <article class="banner-information secondary-banner-information">
                <h1>Nivel Secundario</h1>
                <p>En el instituto Luminova entendemos a la educación secundaria como una unidad pedagógica organizada
                    que tiene la finalidad de habilitar a las/los jóvenes para el ejercicio pleno de la ciudadanía, para
                    el trabajo y para la continuación de estudios, asegurándose así la función propia y propedéutica del
                    nivel.</p>
            </article>
        </section>
        <!-- Misión -->
        <section class="levels-content">
            <article class="level-container">
                <img src="../static/img/secundario2.jpg" alt="Nivel Secundario">
                <div class="initial-proposals">
                    <p>De esta manera garantizamos el cumplimiento de la Ley Nacional de educación que establece los
                        objetivos de la educación secundaria, los cuales instan a brindar una formación ética que
                        permite a los/las estudiantes desempeñarse como sujetos conscientes de sus derechos y
                        obligaciones, que practican el pluralismo, la cooperación y la solidaridad, que respetan los
                        derechos humanos y rechazan todo tipo de discriminación, preparándolos para el ejercicio de una
                        ciudadanía democrática, preservando el patrimonio natural y cultural.</p>
                </div>
            </article>
        </section>
        <!-- Imágenes alusivas al nivel -->
        <section class="level-carousel">
            <img src="../static/img/secundario3.jpg" alt="Nivel Secundario">
            <img src="../static/img/secundario4.jpg" alt="Nivel Secundario">
            <img src="../static/img/secundario5.jpg" alt="Nivel Secundario">
            <img src="../static/img/secundario6.jpg" alt="Nivel Secundario">
        </section>
        <!-- más info de la Misión -->
        <section class="levels-content second">
            <article class="secondary-mision">
                <h3 class="title-secondary-mision">
                    En el instituto Luminova aspiramos a:
                </h3>
                <div class="info-secondary-mision">
                    <p>Brindar condiciones de igualdad, respetando las diferencias entre las personas sin admitir
                        discriminación de género ni de ningún otro tipo, garantizando el respeto a los derechos de los
                        jóvenes y adolescentes establecidos en la Ley N 26.061 evitando toda forma de discriminación.
                    </p>
                    <p>Posicionarnos, como adultos, desde un accionar responsable, respetuoso que redundara en la
                        construcción de una verdadera autoridad, evitando acciones autoritarias, asegurando la
                        participación democrática de docentes, familias y estudiantes en nuestra institución.</p>
                    <p>Asegurar una educación de calidad con igualdad de oportunidades y posibilidades para los jóvenes
                        que ingresen a la institución tendiendo a lograr una enseñanza personalizada y activa, para el
                        desarrollo tanto en su desempeño social y laboral, como para el acceso a estudios superiores.
                    </p>
                    <p>Formar jóvenes y adolescentes ciudadanos activos en el mundo, curiosos, atentos, libres, por lo
                        que creemos fundamental introducirlos en lenguas extranjeras para manejarse en el mundo con
                        mayor probabilidad de éxito.</p>
                    <p>Desarrollar las competencias necesarias para el manejo de los nuevos lenguajes producidos por las
                        tecnologías de la información y la comunicación.</p>
                    <p>Acompañar a las familias en la educación de los/las jóvenes desde la puesta de límites como
                        mensaje de cuidado, asegurando la participación democrática y activa de ambas instituciones
                        escuela-familia, en el marco del proyecto del Instituto Aukan.</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section id="footer-content" class="footer-pages">
            <!-- Contacto -->
            <article class="footer-container">
                <div class="footer-info">
                    <!-- Logo -->
                    <div class="logo-link">
                        <a href="../index.html">
                            <img src="../static/img/navFondo.png" alt="Logo sin fondo">
                        </a>
                    </div>
                    <!-- Dirección -->
                    <div class="address-info">
                        <a href="./contact.html">
                            <i class="fa-solid fa-phone-volume"></i>
                            <div class="address-info-p">
                                <p>Calle Falsa 123</p>
                                <p>Buenos Aires, Argentina</p>
                                <p>Tel: 1234-5678</p>
                                <p>escuela@correo.com</p>
                            </div>
                        </a>
                    </div>
                    <!-- Horario de Atención -->
                    <div class="attention-info">
                        <i class="fa-solid fa-clock"></i>
                        <div>
                            <h5>Horario de Administración</h5>
                            <p>De Lunes a Viernes de 7:30 a 19:00 hs</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Derechos -->
            <article class="copy-footer">
                <p>© 2023 Todos los derechos reservados Grupo 14-Comision 24123</p>
            </article>
        </section>
    </footer>
    <script src="../static/js/main.js"></script>
</body>

</html>