/*
Autores: Agustina Velazquez
         Andreina Romero
         Eleonora Roux
         Vilma Ponce
Fecha: 19/03/2024
Curso: Full Stack NodeJS - Comision 24123
Profesor: Fernando Lucena
Descripcion: este archivo CSS contiene los estilos para el sitio web del Instituto Luminova
*/

/* Reglas universales */

:root {
    --color-primario: rgb(43, 139, 223);
    --color-secundario: #e91e63;
    --color-terciario: #303030;
    --color-cuaternario: #f2f2f2;
    --color-slide: rgba(255, 255, 255, 0.5);
    --color-nav: #0B3D91;
    --bg-oscuro: #171717;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1em;
    height: .5em;
}

/* Carril del scroll */
::-webkit-scrollbar-track {
    background-color: var(--color-terciario);
}

/* Almohadilla del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 5em;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto Slab", serif;
}

body {
    height: 100vh;
    padding: 5.4em 0 0;
    /*estos espacios hacen que no se superponga con el próximo bloque, asi queda flotando*/
    background-color: var(--color-cuaternario);
    font-family: "Nunito", sans-serif;
}

main {
    position: relative;
    top: 3em;
}

footer {
    position: relative;
    top: 3em;
}

/************************* Navbar **************************/

.header {
    background-color: var(--color-nav);
    height: 14vh;
    /*altura fija de la barra de navegación*/
    width: 100vw;
    /*ancho, 100% de la pagina*/
    position: fixed;
    /*barra de navegación fija=fixed arriba, queda como flotando*/
    top: 0;
    /*siempre va a estar fijada a la ventana donde nos encontremos en la punta izquierda*/
    left: 0;
    z-index: 1;
}

.nav {
    display: flex;
    /*así hago que se separen los bloques del menu por un lado el logo y por el otro el menu*/
    justify-content: space-between;
    /*acá les digo que tengan espacio entre ellos*/
    max-width: 1100px;
    /*es un breakpoint para que no se alargue a toda la pantalla el menu y quede mas centrado en paginas anchas*/
    margin: 0 auto;

}

/*estilos a todos los links*/
.nav-link {
    color: var(--color-cuaternario);
    text-decoration: none;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.nav .nav-link img {
    height: 10vh;
    margin-top: 0.8rem;

}

/*formato del estilo de la caja del menu*/
.nav-menu {
    display: flex;
    /*así hago todos los elementos del elemento del menú queden en fila, en forma horizontal por defecto*/
    margin-right: 1rem;
    list-style: none;
    /*elimino los puntos de la lista*/

}

/*formato del estilo del link del menu*/
.nav-menu-item {
    font-size: 1rem;
    line-height: 15vh;
    text-transform: uppercase;
    /*todo el texto en mayúscula*/
    width: max-content;
    /*para que no corte el texto de lo que tenga el link, porque si son dos palabras elimina una al achicarlo*/
    margin: 0 0.6rem;
    /*el espacio entre cada palabra del menu*/
}

.nav-menu-link {
    padding: .5rem .7rem;
    transition: all .7s ease;
}

.nav-menu-link:hover {
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--color-primario);
}

/*estilos del boton hamburguesa*/
.nav-toggle {
    color: var(--color-cuaternario);
    background: none;
    border: none;
    font-size: 1.6rem;
    padding: 0 1.2rem;
    line-height: 10vh;
    cursor: pointer;
    display: none;
    /*para que no se vea en dispositivios grandes*/

}

/***************************************************** Seccion de Información ************************/

.main-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 10em;
    padding: 2em;
}

.main-section h2 {
    color: var(--color-primario);
    font-size: 2.5em;
}

.main-section p {
    font-weight: 700;
    margin: 0em;
    margin-bottom: .5em;
}

.main-section p a {
    color: var(--color-secundario);
}

.main-section iframe {
    width: 25em;
    height: 18em;
}

/***************************************************** Sección de Form de Contacto ****************************/
.form-section {
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding: 1em;
    text-align: center;
}

.form-content {
    width: 50%;
    margin: 1.5em auto;
    padding: .5em;

    background-color: #f2f2f2a7;
    border: 6px ridge #F2F2F2;
}

/* Estilos de las areas del form */
.form-group {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1em;

    margin: 1em 0em;
}

.messagge-group {
    flex-direction: column;
}

.form-section h2 {
    color: var(--color-cuaternario);
    font-size: 3em;
}

.form-section p {
    color: var(--color-cuaternario);
    font-size: 1.5em;
}

/* Estilos de los inputs */
.inputBox,
.textBox {
    position: relative;
    width: 100%;
}

.inputBox input,
.textBox select,
.textBox textarea {
    position: relative;
    width: 100%;
    background: var(--color-cuaternario);
    border: .1em solid var(--color-primario);
    outline: none;
    padding: 1.3em .5em .6em;
    border-radius: 0.5em;
    color: var(--color-primario);
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1em;
}

.textBox textarea {
    color: var(--color-terciario);
}

.inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: var(--color-primario);
    transition: 0.5s;
    pointer-events: none;
    font-family: "Roboto Slab", serif;
}

.inputBox input:focus~i,
.inputBox input:valid~i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: var(--color-secundario);
}

.inputBox input::placeholder,
.inputBox input::placeholder {
    color: transparent;
}

/* Estilos del botón */
.btn-form {
    height: 3em;
    width: 60%;

    padding: 0em 10em;
    margin-bottom: .5em;

    background-color: var(--color-primario);
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    align-self: center;
    border-radius: .7em;

    transition: all 0.5s ease;
}

.btn-form:hover {
    background-color: var(--bg-oscuro);
    color: var(--color-primario);
    transform: scale(1.1);
}

/************************************************** Footer *************************************************/
#footer-content {
    width: 100%;
    background-color: var(--color-terciario);
}

.footer-container {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    gap: 2em;
}

.footer-info {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;

    padding: 1.5em;
    background-color: var(--bg-oscuro);
}

.attention-info h5 {
    font-size: 1.3em;
}

.logo-link {
    margin-left: 5em;
}

.logo-link a img {
    border-radius: 50%;
    width: 12em;
}

.address-info a,
.attention-info {
    display: flex;
    flex-direction: row;
    gap: .6em;
    font-size: 1em;

    text-decoration: none;
    color: var(--color-primario);
}

.attention-info {
    height: 6em;
}

.address-info-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-info i,
.attention-info i {
    font-size: 2em;
}

.copy-footer {
    text-align: center;
    color: var(--color-cuaternario);
}

/***************************************** Media Queries ********************************************/
@media (max-width: 767px) {
    main {
        top: 1em;
    }

    footer {
        top: 1em;
    }

    /************************ Navbar *********/
    .header {
        width: 100vw;
        height: 10vh;
        padding-left: 1rem;
    }

    .nav .nav-link img {
        height: 7vh;
        margin-top: 0.5rem;
    }

    /*formato del estilo de la caja del menu*/
    .nav-menu {
        flex-direction: column;
        /*ya esta en flex, pero es automatico que sea horizontal, asi le digo en columna;*/
        align-items: center;
        background-color: var(--color-nav);
        position: fixed;
        margin-top: 1em;
        /*la posicion depende de la ventana donde se encuentra*/
        left: 0;
        top: 2vh;
        /*con respecto al nav*/
        width: 100%;
        padding: 1rem 0;
        height: calc(100%-1rem);
        /*es un calculo para que se adapte a la ventana y que haya un scroll en el caso que el dispositivo sea muy chico*/
        overflow-y: auto;
        /*para que agregue la barra al costado cuando la necesite sino no*/
        left: 100%;
        transition: left 0.3s;
    }

    /*formato del estilo del link del menu*/
    .nav-menu-item {
        line-height: 6vh;
    }

    .nav-menu-link:hover {
        /*para cuando esta activo quede con ese color el link*/
        background: var(--color-primario);

    }

    .nav-toggle {
        display: block;
        /*para que aparezca la hamburguesa*/
    }

    .nav-menu_visible {
        left: 0;
        top: 7vh;

    }

    /* Seccion de Información */
    .main-section {
        flex-direction: column;

        gap: 2em;
        padding: 1em;
    }

    .main-section h2 {
        font-size: 2em;
    }

    .main-section p {
        font-weight: 500;
    }

    .main-section p a {
        color: var(--color-secundario);
        font-size: .95em;
    }

    .main-section iframe {
        width: 100%;
    }

    /* Sección de Form de Contacto */
    .form-content {
        width: 100%;
    }

    /* Estilos de las areas del form */
    .form-group {
        flex-direction: column;
    }

    .btn-form {
        width: 90%;
        padding: .5em 0em;
        font-size: 1em;
    }

    /*********************************** Footer ***************************************/
    #footer-content {
        width: 100%;
        background-color: var(--color-terciario);
    }

    .footer-access {
        display: flex;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;

        margin-top: .5em;
        padding: 1em;
        gap: 1.5em;
    }

    .footer-link a {
        gap: 1;
        padding: 1em;
    }

    .footer-info {
        flex-direction: column;
        align-items: self-start;
        gap: 1.5em;

        padding: 1.5em;
    }

    .logo-link {
        margin: 0em auto;
    }

    .address-info a,
    .attention-info {
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 883px) {
    main {
        position: relative;
        top: 1em;
    }

    footer {
        top: 1em;
    }

    /************************ Navbar *********/
    .header {
        width: 100vw;
        height: 10vh;
        padding-left: 1rem;
    }

    .nav .nav-link img {
        height: 7vh;
        margin-top: 0.5rem;
    }

    /*formato del estilo de la caja del menu*/
    .nav-menu {
        flex-direction: column;
        /*ya esta en flex, pero es automatico que sea horizontal, asi le digo en columna;*/
        align-items: center;
        background-color: var(--color-nav);
        position: fixed;
        margin-top: 1em;
        /*la posicion depende de la ventana donde se encuentra*/
        left: 0;
        top: 2vh;
        /*con respecto al nav*/
        width: 100%;
        padding: 1rem 0;
        height: calc(100%-1rem);
        /*es un calculo para que se adapte a la ventana y que haya un scroll en el caso que el dispositivo sea muy chico*/
        overflow-y: auto;
        /*para que agregue la barra al costado cuando la necesite sino no*/
        left: 100%;
        transition: left 0.3s;
    }

    /*formato del estilo del link del menu*/
    .nav-menu-item {
        line-height: 6vh;
    }

    .nav-menu-link:hover {
        /*para cuando esta activo quede con ese color el link*/
        background: var(--color-primario);

    }

    .nav-toggle {
        display: block;
        /*para que aparezca la hamburguesa*/
    }

    .nav-menu_visible {
        left: 0;
        top: 7vh;

    }

    /* Seccion de Información */
    .main-section {
        gap: 2em;
    }

    .main-section h2 {
        font-size: 2em;
    }

    .main-section p {
        font-weight: 500;
    }

    .main-section p a {
        font-size: .95em;
    }

    .main-section iframe {
        width: 100%;
    }

    /* Sección de Form de Contacto */
    .form-section h2 {
        font-size: 2.5em;
    }

    .form-section p {
        font-size: 1.5em;
    }

    .form-content {
        width: 90%;
    }

    /* Estilos de las areas del form */
    .form-group {
        flex-direction: row;
    }

    .messagge-group {
        flex-direction: column;
    }

    .btn-form {
        width: 90%;
    }

    /*********************************** Footer ***************************************/
    .footer-info {
        gap: 2em;
    }

    .logo-link {
        margin-left: 0em;
    }

    .logo-link img {
        width: 15em;
    }

    .attention-info {
        height: 7em;
        margin-bottom: .5em;
    }

    .copy-footer {
        font-size: 1.1em;
        padding: .5em;
    }
}