/*
Autores: Agustina Velazquez
         Andreina Romero
         Eleonora Roux
         Vilma Ponce
Fecha: 19/03/2024
Curso: Full Stack NodeJS - Comision 24123
Profesor: Fernando Lucena
Descripcion: este archivo CSS contiene los estilos para el sitio web del Instituto Luminova
*/

/* Reglas universales */

:root {
    --color-primario: rgb(43, 139, 223);
    --color-secundario: #e91e63;
    --color-terciario: #303030;
    --color-cuaternario: #f2f2f2;
    --color-slide: rgba(255, 255, 255, 0.5);
    --color-nav: #0B3D91;
    --bg-oscuro: #171717;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1em;
    height: .5em;
}

/* Carril del scroll */
::-webkit-scrollbar-track {
    background-color: var(--color-terciario);
}

/* Almohadilla del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 5em;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto Slab", serif;
}

body {
    height: 100vh;
    padding: 5.4em 0 0;
    /*estos espacios hacen que no se superponga con el próximo bloque, asi queda flotando*/
    background-color: var(--color-cuaternario);
    font-family: "Nunito", sans-serif;
}

/************************* Navbar **************************/

.header {
    background-color: var(--color-nav);
    height: 14vh;
    /*altura fija de la barra de navegación*/
    width: 100vw;
    /*ancho, 100% de la pagina*/
    position: fixed;
    /*barra de navegación fija=fixed arriba, queda como flotando*/
    top: 0;
    /*siempre va a estar fijada a la ventana donde nos encontremos en la punta izquierda*/
    left: 0;
    z-index: 1;
}

.nav {
    display: flex;
    /*así hago que se separen los bloques del menu por un lado el logo y por el otro el menu*/
    justify-content: space-between;
    /*acá les digo que tengan espacio entre ellos*/
    max-width: 1100px;
    /*es un breakpoint para que no se alargue a toda la pantalla el menu y quede mas centrado en paginas anchas*/
    margin: 0 auto;

}

/*estilos a todos los links*/
.nav-link {
    color: var(--color-cuaternario);
    text-decoration: none;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.nav .nav-link img {
    height: 10vh;
    margin-top: 0.8rem;

}

/*formato del estilo de la caja del menu*/
.nav-menu {
    display: flex;
    /*así hago todos los elementos del elemento del menú queden en fila, en forma horizontal por defecto*/
    margin-right: 1rem;
    list-style: none;
    /*elimino los puntos de la lista*/

}

/*formato del estilo del link del menu*/
.nav-menu-item {
    font-size: 1rem;
    line-height: 15vh;
    text-transform: uppercase;
    /*todo el texto en mayúscula*/
    width: max-content;
    /*para que no corte el texto de lo que tenga el link, porque si son dos palabras elimina una al achicarlo*/
    margin: 0 0.6rem;
    /*el espacio entre cada palabra del menu*/
}

.nav-menu-link {
    padding: .5rem .7rem;
    transition: all .7s ease;
}

.nav-menu-link:hover {
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--color-primario);
}

/*estilos del boton hamburguesa*/
.nav-toggle {
    color: var(--color-cuaternario);
    background: none;
    border: none;
    font-size: 1.6rem;
    padding: 0 1.2rem;
    line-height: 10vh;
    cursor: pointer;
    display: none;
    /*para que no se vea en dispositivios grandes*/

}

/************************************************************** Main **************************/

.levels-banner {
    height: 35em;
    width: 100%;

    background-position: center;
    background-size: cover;
    position: absolute;
    top: 8em;
    left: 0;
}

.levels-banner-initial {
    background-image: url('../img/inicial2.jpg');
}

.levels-banner-primary {
    background-image: url('../img/primaria8.png');
}

.levels-banner-secondary {
    background-image: url('../img/secundario.jpg');
}

.banner-information {
    background-color: var(--color-primario);
    height: 45%;
    border-top-left-radius: 100%;

    position: relative;
    top: 310px;
    right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    color: var(--color-cuaternario);
}

.primary-banner-information {
    background-color: var(--color-secundario);
}

.secondary-banner-information {
    border-top: 15px solid var(--color-secundario);
}

.banner-information h1,
.title-secondary-mision {
    padding: 0 5em .7em 0;
    font-size: 2em;
    text-transform: uppercase;
}

.banner-information p {
    width: 60%;
    padding-right: 1.5em;
    font-size: 1.3em;
}

.levels-content {
    position: relative;
    top: 38em;
}

.second {
    top: 45em;
}

.level-container {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;

    padding: 1em;
    gap: 3em;
}

.level-container img {
    max-width: 500px;
    border-radius: 5px;
}

.initial-proposals {
    font-size: 1.2em;
    gap: 1.2em;
}

.initial-proposals h3 {
    text-transform: uppercase;
    font-size: 1em;
    color: var(--color-secundario);
}

.level-carousel {
    position: relative;
    top: 42em;
    left: 0;

    display: flex;
}

.level-carousel img {
    width: 25%;
    max-height: 250px;
}

.title-secondary-mision {
    color: var(--color-secundario);
}

.secondary-mision {
    text-align: center;
}

.info-secondary-mision {
    width: 80%;
    height: 14em;

    margin: 2em auto;
    padding: 0 1em;

    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 50%);
    gap: 3em;
}

.info-secondary-mision p {
    text-align: justify;
}

/************************************************** Footer *************************************************/
#footer-content {
    width: 100%;
    background-color: var(--color-terciario);
}

.footer-container {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    gap: 2em;
}

.footer-info {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;

    padding: 1.5em;
    background-color: var(--bg-oscuro);
}

.attention-info h5 {
    font-size: 1.3em;
}

.logo-link {
    margin-left: 5em;
}

.logo-link a img {
    width: 12em;
    border-radius: 50%;
}

.address-info a,
.attention-info {
    display: flex;
    flex-direction: row;
    gap: .6em;
    font-size: 1em;

    text-decoration: none;
    color: var(--color-primario);
}

.attention-info {
    height: 5em;
}

.address-info-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-info i,
.attention-info i {
    font-size: 2em;
}

.copy-footer {
    text-align: center;
    color: var(--color-cuaternario);
    padding: .5em;
}

.footer-pages {
    position: relative;
    top: 50em;
}

/* Media Queries */
@media only screen and (max-width: 767px) {

    /************************ Navbar *********/
    .header {
        width: 100vw;
        height: 10vh;
        padding-left: 1rem;
    }

    .nav .nav-link img {
        height: 7vh;
        margin-top: 0.5rem;
    }

    /*formato del estilo de la caja del menu*/
    .nav-menu {
        flex-direction: column;
        /*ya esta en flex, pero es automatico que sea horizontal, asi le digo en columna;*/
        align-items: center;
        background-color: var(--color-nav);
        position: fixed;
        margin-top: 1em;
        /*la posicion depende de la ventana donde se encuentra*/
        left: 0;
        top: 2vh;
        /*con respecto al nav*/
        width: 100%;
        padding: 1rem 0;
        height: calc(100%-1rem);
        /*es un calculo para que se adapte a la ventana y que haya un scroll en el caso que el dispositivo sea muy chico*/
        overflow-y: auto;
        /*para que agregue la barra al costado cuando la necesite sino no*/
        left: 100%;
        transition: left 0.3s;
    }

    /*formato del estilo del link del menu*/
    .nav-menu-item {
        line-height: 6vh;
    }

    .nav-menu-link:hover {
        /*para cuando esta activo quede con ese color el link*/
        background: var(--color-primario);

    }

    .nav-toggle {
        display: block;
        /*para que aparezca la hamburguesa*/
    }

    .nav-menu_visible {
        left: 0;
        top: 7vh;

    }

    /* Paginas de Niveles */
    .levels-banner {
        height: auto;
        width: 100%;
        position: relative;
        top: .8em;
    }

    .levels-banner-initial {
        background-image: none;
    }

    .levels-banner-primary {
        background-image: none;
    }

    .levels-banner-secondary {
        background-image: none;
    }

    .banner-information {
        background-color: var(--color-primario);
        border-top-left-radius: 0%;

        position: relative;
        top: 0px;
        left: 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-cuaternario);
    }

    .primary-banner-information {
        background-color: var(--color-secundario);
    }

    .secondary-banner-information {
        border-top: 15px solid var(--color-secundario);
        border-bottom: 15px solid var(--color-secundario);
    }

    .banner-information h1 {
        padding: .5em 0em;
    }

    .banner-information p {
        width: 100%;
        padding: .5em .8em;
        margin-bottom: 1em;
        font-size: 1.1em;
        text-align: justify;
    }

    .levels-content {
        position: relative;
        top: 0px;
        width: 100vw;

        text-align: center;
    }

    .second {
        top: 0em;
    }

    .level-container {
        display: inline-block;

        margin: 1em;
        padding: .2em;
    }

    .level-container img {
        width: 100%;
        border-radius: 5px;
    }

    .initial-proposals {
        font-size: 1.1em;
        text-align: justify;
        margin: 1em 0em;
        gap: 1em;
    }

    .initial-proposals h3 {
        text-transform: uppercase;
        font-size: 1em;
        color: var(--color-secundario);
    }

    .level-carousel {
        position: relative;
        top: 0em;

        display: inline-block;
        margin-left: 4px;
        padding: 0px;
        gap: 0px;
    }

    .level-carousel img {
        width: 49%;
        height: 100%;
    }

    .secondary-mision {
        text-align: center;
    }

    .info-secondary-mision {
        width: 100vw;
        height: auto;

        margin: 1em auto;
        padding: 0 .8em;

        display: flex;
        flex-direction: column;
        gap: 1em;

        font-size: 1.1em;
    }

    /************************************ Footer *****************************/
    /* Main */
    .sport-content {
        width: 100%;
        height: 100%;
    }

    /************************************ Footer *****************************/
    .footer-container {
        padding: 0em;
        width: 100vw;
    }

    .footer-access {
        display: inline-block;
        padding: .5em;
    }

    .footer-link h4 {
        font-size: 1.5em;
    }

    .footer-link a {
        margin: .8em auto;
    }

    .footer-link a i {
        font-size: 4em;
    }

    .footer-info {
        display: inline-block;
        color: var(--color-secundario);
    }

    .logo-link {
        margin: 1em auto;
        text-align: center;
    }

    .logo-link img {
        width: 18em;
    }

    .address-info,
    .attention-info {
        gap: 1em;
        font-size: 1.1em;
        margin: 1em auto;
    }

    .address-info i,
    .attention-info i {
        font-size: 2.5em;
    }

    .footer-info h5 {
        font-size: 1.3em;
    }

    .attention-info {
        height: auto;
    }

    .copy-footer {
        text-align: center;
        font-weight: normal;
        font-size: .9em;
        padding-bottom: 1em;
    }

    .footer-pages {
        position: relative;
        top: 0em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {

    /************************ Navbar *********/
    .header {
        width: 100vw;
        height: 10vh;
        padding-left: 1rem;
    }

    .nav .nav-link img {
        height: 7vh;
        margin-top: 0.5rem;
    }

    /*formato del estilo de la caja del menu*/
    .nav-menu {
        flex-direction: column;
        /*ya esta en flex, pero es automatico que sea horizontal, asi le digo en columna;*/
        align-items: center;
        background-color: var(--color-nav);
        position: fixed;
        margin-top: 1em;
        /*la posicion depende de la ventana donde se encuentra*/
        left: 0;
        top: 2vh;
        /*con respecto al nav*/
        width: 100%;
        padding: 1rem 0;
        height: calc(100%-1rem);
        /*es un calculo para que se adapte a la ventana y que haya un scroll en el caso que el dispositivo sea muy chico*/
        overflow-y: auto;
        /*para que agregue la barra al costado cuando la necesite sino no*/
        left: 100%;
        transition: left 0.3s;
    }

    /*formato del estilo del link del menu*/
    .nav-menu-item {
        line-height: 6vh;
    }

    .nav-menu-link:hover {
        /*para cuando esta activo quede con ese color el link*/
        background: var(--color-primario);

    }

    .nav-toggle {
        display: block;
        /*para que aparezca la hamburguesa*/
    }

    .nav-menu_visible {
        left: 0;
        top: 7vh;

    }

    .levels-container {
        display: flex;
        flex-direction: row;
        margin: 1em;
    }

    .levels-banner {
        height: 35em;
        width: 100%;

        background-position: center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 6em;
    }

    .levels-banner-initial {
        background-image: url('../img/inicial2.jpg');
    }

    .levels-banner-primary {
        background-image: url('../img/primaria.jpg');
    }

    .levels-banner-secondary {
        background-image: url('../img/secundario.jpg');
    }

    .banner-information {
        background-color: var(--color-primario);
        height: 45%;
        border-top-left-radius: 100%;

        position: relative;
        top: 310px;
        right: 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        color: var(--color-cuaternario);
    }

    .primary-banner-information {
        background-color: var(--color-secundario);
    }

    .secondary-banner-information {
        border-top: 15px solid var(--color-secundario);
    }

    .banner-information h1 {
        padding: .5em 1.5em;
        font-size: 2em;
        text-transform: uppercase;
    }

    .banner-information p {
        width: 80%;
        padding-right: 1.5em;
        font-size: 1.2em;
    }

    .levels-content {
        position: relative;
        top: 38em;
    }

    .second {
        top: 45em;
    }

    .level-container {
        display: flex;
        flex-direction: row;

        padding: 1em;
        gap: 3em;
    }

    .initial-proposals {
        font-size: 1.5em;
    }

    .initial-proposals h3 {
        font-size: 1.2em;
    }

    .level-carousel {
        position: relative;
        top: 42em;

        display: inline-block;
        margin: 0px 4px;
        padding: 0px;
        gap: 0px;
    }

    .level-carousel img {
        width: 49%;
        height: auto;
    }


    .secondary-mision {
        text-align: center;
    }

    .info-secondary-mision {
        width: 100vw;
        height: auto;

        margin: 1em auto;
        padding: 0 .8em;

        display: flex;
        flex-direction: column;
        gap: 1em;

        font-size: 1.5em;
    }

    /************************* Footer **************************/
    .footer-container {
        padding: 0em;
        width: 100%;
        gap: 0em;
    }

    .footer-access {
        justify-content: space-between;
        gap: 1em;
    }

    .footer-link h4 {
        font-size: 1.3em;
    }

    .footer-info {
        gap: 2em;
    }

    .logo-link {
        margin: 0px;
        align-self: center;
    }

    .address-info,
    .attention-info {
        gap: 15px;
        font-size: 1.2em;
    }

    .attention-info {
        height: 6.5em;
    }

    .copy-footer {
        font-size: 1.2em;
        font-weight: normal;
        padding-bottom: .8em;
    }

    .footer-pages {
        position: relative;
        top: 48em;
    }
}